/* COMMON CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
}



/* COMMON CSS END */

/* NAV */

nav {
    background-color: #23323e;
}

#navbarSupportedContent a {
    text-transform: uppercase;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    transition: 0.3s;
    padding: 20px;
}

#navbarSupportedContent a:hover {
    color: #2ecc71;
}


.navbar-brand {
    padding: 0 20px;
}

/* NAV END */
/* BANNER */
#Banner {
    background-image: url(../Images/Banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 1000px;
}


#Banner .container .B_content {
    height: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#Banner .B_content h1 {
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    padding: 20px 0;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#Banner .B_content a:hover {
    background-color: #2ecc71;
}

#Banner .B_content a {
    height: 60px;
    width: 186px;
    border: 2px solid #ffffff;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    line-height: 60px;
    background-color: transparent;
    transition: 0.5s;
}

/* BANNER END */

/* VALUES */

#Values .values_cnt {
    margin: 58px 25px 98px 25px;
    color: #566366;
}

#Values .values_cnt h2 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

#Values .values_cnt p {
    font-size: 18px;
    padding-top: 45px;
}


/* VALUES END */
/* ABOUTME */

#AboutMe {
    background-color: #f2f2f1;
}

#AboutMe .Abt-Img img {
    margin-left: -210px;
    display: inline-block;
}
#AboutMe .About_Content {
    padding: 50px 80px 60px;
    display: inline-block; 
}

#AboutMe .About_Content h2 {
    font-size: 30px;
    font-weight: 700;
    color: #566366;
    text-transform: uppercase;

}

#AboutMe .About_Content span {
font-size: 18px;
color: #919191;
font-weight: 400;
padding: 50px 0 60px 0;
}

#AboutMe .About_card_content h3 {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

/* ABOUTME END */

/* Skills  */

#Skills .Skill_content h2 {
    font-size: 30px;
    font-weight: 700;
    color: #566366;
    padding-top: 100px;
}

#Skills .Skill_content p {
    font-size: 18px;
    color: #919191;

}

#Skills .Skill_content a p{
    height: 60px;
    width: 186px;
    border: 2px solid #2ecc71;
    font-size: 18px;
    font-weight: 700;
    color: #2ecc71;
    text-align: center;
    line-height: 60px;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
}

#Skills .Skill_content a:hover p {
    background-color: #f2f2f1;
}

#Skills .progress-bar {
    color: #f2f2f1;
    background-color: #2ecc71  ;
}

#Skills .Skills_Progress {
    padding: 100px 20px;
}


#Skills .Skills_Progress_card {
    padding: 18px 0;
}

#Skills .Skills_Progress_card h4 {
    font-size: 22px;
    font-weight: 700;
    color: #566366;
}

/* Skills  END */

/* RESUME START */

#Resume {
    background-color: #f2f2f1 ;
    margin: 100px 0;
    display: flex;
}


#Resume .container h2 {
    font-size: 30px;
    font-weight: 700;
    color: #566366;
    text-transform: uppercase;
}

#Resume .container p {
    font-size: 18px;
    color: #919191;
    padding: 50px 0;
}

#Resume .container a {
    width: 214px;
    height: 56px;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
    color: #2ecc71;
    border: 2px solid #2ecc71;
    text-transform: uppercase;
    transition: 0.5s;
}

#Resume .container a:hover {
    background-color: #ffffff;
}
#Resume .container .Resume_cnt {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 100px 0;
}

/* RESUME END */

/* My Education */

#Educattion h2 {
font-size: 30px;
font-weight: 700;
color: #566366;
text-transform: uppercase;
}

#Educattion h3 {
    font: 22px;
    color: #566366;
    text-transform: uppercase;
}


#Educattion p {
    font-size: 18px;
    color: #919191;
}

#Educattion .Edu_sub_details button {
    height: 30px;
    width: 71px;
    background-color: #2ecc71;
    color: #ffffff;
    border: none;
    margin: 10px 0 20px;
}

/* My Education END */

/* Work Experience */

#Mywork {
    margin: 100px 0;
}


#Mywork h2 {
    font-size: 30px;
    font-weight: 700;
    color: #566366;
    text-transform: uppercase;
}

#Mywork h3 {
    font: 22px;
    color: #566366;
    text-transform: uppercase;
}

#Mywork p {
    font-size: 18px;
    color: #919191;
}

#Mywork button {
    height: 30px;
    width: 71px;
    background-color: #2ecc71;
    color: #ffffff;
    border: none;
    margin: 10px 0 20px;
}


/* Work Experience END */

/* Quotation */

#Quote {
    background-color: #f2f2f1;
}

#Quote .Quote_content{
    margin: 90px 0;
}

#Quote .Quote_content p {
    font-size: 22px;
    color: #919191;
}

#Quote .Quote_content h4 {
    font-size: 18px;
    font-weight: 700;
    color: #566366;
}

/* Quotation ENd */

/* Portfolio */
#Portfolio {
    margin: 100px 0;
}

#Portfolio h2 {
    font-size: 30px;
    font-weight: 700;
    color: #566366;
    text-transform: uppercase;
}

#Portfolio p {
    font-size: 18px;
    color: #919191;
}

#Portfolio .Portfolio_box {
    position: relative;
    display: inline-block;
}


#Portfolio .overlay {
    font-size: 60px;
    width: 100%;
    height: 100%;
    color: #ffffff;
    position: absolute;
    top: 118px;
    left: 156px;
    opacity: 0;
    transition: 0.3s;
}

#Portfolio .Portfolio_box .overlay:hover {
    opacity: 1;
    color: #ffffff;
    cursor: pointer;
}


/* Portfolio END */

